@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 70vw;
  max-height: 70vh;
  background-image: radial-gradient(at 50% 50%, #000 0px, transparent 50%),
    radial-gradient(at 40% 20%, #3f51b5 100px, transparent 80%),
    radial-gradient(at 50% 80%, #009688 20px, transparent 50%),
    radial-gradient(at 10% 20%, #ff5722 0px, transparent 50%),
    radial-gradient(at 60% 63%, #9c27b0 100px, transparent 30%),
    radial-gradient(at 90% 10%, #ffeb3b 00px, transparent 30%),
    radial-gradient(at 75% 100%, #e91e63 0px, transparent 50%);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(250%);
  top: 6rem;
  opacity: 0.7;
  background-blend-mode: screen;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(142, 8, 204, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.glassmorphism-input {
  background: rgba(146, 0, 0, 0);
  width: 100%;
  padding: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.3s ease-in-out;
}
.glassmorphism-input:focus {
  outline: none;
  box-shadow: 0 8px 32px 0 rgba(17, 39, 134, 0.37);
}
.glassmorphism-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-hide {
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex flex-col items-center  justify-center;
}

.purple_gradient {
  @apply bg-gradient-to-r from-blue-200 via-purple-400 to-red-300 bg-clip-text text-transparent;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 flex w-full min-w-[210px] flex-col items-end justify-end gap-2 rounded-lg p-5;
}

.dropdown_link {
  @apply text-sm font-medium text-gray-700 hover:text-gray-500;
}

/* PromptCard Component */
.prompt_card {
  @apply h-fit w-full flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px];
}

.flex-center {
  @apply flex items-center justify-center;
}
